<div class='navbar'>
    <div class='nav-container'>
      <div class='nav-links'>
        <button mat-button routerLink='/movies' color='blue'>
          Movies
        </button>
        <button mat-button routerLink='/profile' color='blue'>
          Profile
        </button>
        <button mat-button routerLink='/favorites' color='blue'>
            Favorites
          </button>
        <button mat-button (click)='signOut()' color='blue'>
          Sign Out
        </button>
      </div>
    </div>
  </div>